
.redditScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    width: 60%;
    margin: 2px auto;
}


.redditBox {
display: flex;
flex-direction: column;
    align-items: center;
    border: 2px solid rgb(112, 112, 112);
    width: 100%;
    max-height: 1000px;
}

.redditBox:hover {
    background-color: rgb(237, 237, 237);
}

.redditBox p {
    padding: 10px;

}

.displayName .displayLogo {
    width: 25px;
    cursor: pointer;
}
.displayName {
    background-color: rgb(212, 211, 211);
    width: 100%;
}

.redditBox img, .redditBox video{
object-fit: contain;
}



.voteButtons {
    display: flex;
    flex-direction: row;
    margin: 5px;
}