

.PageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(82, 82, 82);
    margin: 0px, 2px;
    padding: 0;
    
}

.PageLogo {
    display: flex;
    flex-direction: row;
}
.PageLogo img {
    width: 10%;
}

.topNav {
    display: flex;
}

.topNav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topNav li {
    display: flex;
    padding: 25px;
}

