.settings {
    border: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .settings {
    flex-direction: column;

    }
}